*.DS_Store
src/build
src/bin
src/objs
.sconsign.dblite
build/
test_build/
corneria_build/
fortuna_build/
sauria_build/
sauria_build_2/
titania_build/
llvm_build/
sauria_test_build/
corneria_test_build/
titania_test_build/
data/
build_*
gt_build/
katina_build/
results/
hypn_results/
*.png
*.exr
*.hdr
